<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>/templates/test/index.html</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div sec:authorize="isAuthenticated()">
			<strong sec:authentication="name"></strong> 님 로그인중
			<a th:href="@{/user/logout}">로그아웃</a>
		</div>
		<div sec:authorize="!isAuthenticated()">
			로그인중이 아님
		<a th:href="@{/user/login_form}">로그인하기</a>

		</div>
		<h1>인덱스 테스트 페이지</h1>	
		<ul>
			<li><a th:href="@{/super/kiosk/index}">키오스크 관리</a></li>
			<li><a th:href="@{/owner/user/index}">직원관리</a></li>
			<li><a th:href="@{/menu/menu_main}">메뉴관리</a></li>
			<li><a th:href="@{/user/login_form}">테스트 로그인 폼 페이지</a></li>
		</ul>
	</div>
</body>
</html>