<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="menu">

	<select id="insert" parameterType="menuDto">
		INSERT INTO menu_info 
		(id, name, price, description,img_url,is_sold,category)
		VALUES(menu_seq.NEXTVAL,#{name},#{price},#{description},#{img_url},'false',#{category})
	</select>
	
	<update id="update" parameterType="menuDto">
		UPDATE menu_info
		SET name=#{name}, price=#{price}, one_sentence=#{one_sentence}, description=#{description}, img_url=#{img_url}, is_sold=#{is_sold}, category=#{category}
		WHERE id=#{id}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE menu_info
		WHERE id=#{id}
	</delete>
	
	<select id="getList" resultType="menuDto">
		SELECT id, name, price, description,img_url,is_sold,category
		FROM menu_info
	</select>
	
	<select id="getData" parameterType="int" resultType="menuDto">
		SELECT id, name, price, one_sentence, description, img_url, is_sold, category
		FROM menu_info
		WHERE id=#{id}
	</select>
	
	<select id="categoryList" resultType="categoryDto">
		SELECT category
		FROM category_list
	</select>
	
</mapper>
