<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="menu">

	<insert id="insert" parameterType="menuDto">
		INSERT INTO menu 
		(id, name, price, summary, description <if test="img_url != null">,img_url</if>, is_sold, category)
		VALUES(menu_seq.NEXTVAL,#{name},#{price}, #{summary}, #{description}<if test="img_url != null">,#{img_url}</if>, 'false',#{category})
	</insert>
	
	<update id="update" parameterType="menuDto">
		UPDATE menu
		SET name=#{name}, price=#{price}, summary=#{summary}, description=#{description}<if test="img_url != null">,img_url=#{img_url}</if>, is_sold=#{is_sold}, category=#{category}
		WHERE id=#{id}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE menu
		WHERE id=#{id}
	</delete>
	
	<select id="getList" resultType="menuDto">
		SELECT id, name, price, summary, description, img_url, is_sold, category
		FROM menu
	</select>
	
	<select id="getData" parameterType="int" resultType="menuDto">
		SELECT id, name, price, summary, description, img_url, is_sold, category
		FROM menu
		WHERE id=#{id}
	</select>

</mapper>
