<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="option">
	<!-- 
	<select id="getOption" parameterType="optionsDto" resultType="resultDto">
	SELECT o1.*, d.name as option_name, d.description as description, d.price as price
	FROM
		(
			SELECT o.category_id as category_id, c.name as category_name, o.id as option_id
			FROM options o
			JOIN category c ON o.category_id = c.id
		) o1
	JOIN detail_options d ON o1.option_id = d.option_id
	</select>
	 -->

	  <select id="getOptionAndDetailsList" parameterType="int" resultType="optionListDto">
 		SELECT o.id AS option_id, o.name AS option_name,
		   od.id AS option_details_id, od.name AS option_details_name, od.price, od.img_url
		FROM options o
		JOIN option_details od ON o.id = od.option_id
		WHERE option_id=#{option_id}
     </select>
    

	 <select id="getList" resultType="optionDto">
	 	SELECT id,name
	 	FROM options
	 </select>
	 
	 <select id="getData" parameterType="int" resultType="optionDto">
	 	SELECT id,name
	 	FROM options
	 	WHERE id=#{id}
	 </select>
	 
	 <insert id="insert" parameterType="optionDto">
	 	INSERT INTO options
	 	(id,name)
	 	VALUES(options_seq.NEXTVAL,#{name})
	 </insert>
	 
	 <update id="update" parameterType="optionDto">
	 	UPDATE options
	 	SET name=#{name}
	 	WHERE id=#{id}
	 </update>
	
	 <delete id="delete" parameterType="int">
	 	DELETE options
	 	WHERE id=#{id}
	 </delete>	

</mapper>