<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	<insert id="insert" parameterType="userDto">
		INSERT INTO users
		(id, password, rank)
		VALUES(#{id}, #{password}, #{rank})
	</insert>
	
	<update id="update" parameterType="userDto">
		UPDATE users
		SET password=#{password} , rank=#{rank}
		WHERE id=#{id}
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM users
		WHERE id = #{id}
	</delete>
	
	<select id="getUser" parameterType="String" resultType="userDto">
		SELECT *
		FROM users
		WHERE id = #{id}
	</select>
	
	<select id="getUserList" resultType="userDto">
		SELECT *
		FROM users
	</select>

</mapper>